@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap");
@media screen and (min-width: 700px) and (max-width: 1000px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body .container #mobile {
    display: none;
  }
  * body .container #tabletmain {
    background-color: #080E2F;
  }
  * body .container #tabletmain .home {
    height: 100vh;
  }
  * body .container #tabletmain .home .tophome {
    display: flex;
    justify-content: space-between;
  }
  * body .container #tabletmain .home .tophome .logo {
    margin: 2vh 0 0 5vw;
  }
  * body .container #tabletmain .home .tophome .logo img {
    width: 25vw;
    height: 25vw;
  }
  * body .container #tabletmain .home .tophome .header nav {
    display: none;
  }
  * body .container #tabletmain .home .tophome .header nav a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
  }
  * body .container #tabletmain .home .tophome .header .hamburger {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 5vh 7vh 0 0;
    z-index: 100;
  }
  * body .container #tabletmain .home .tophome .header .hamburger:after, * body .container #tabletmain .home .tophome .header .hamburger:before {
    content: "";
    display: block;
    width: 8vw;
    height: 0.7vh;
    background-color: white;
    margin: 1vh 0;
    border-radius: 10px;
    transition: 0.4s;
  }
  * body .container #tabletmain .home .tophome .header .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 20px);
  }
  * body .container #tabletmain .home .tophome .header .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -20px);
  }
  * body .container #tabletmain .home .tophome .header .hamburger.is-active .bar {
    opacity: 0;
  }
  * body .container #tabletmain .home .tophome .header .bar {
    content: "";
    display: block;
    width: 8vw;
    height: 0.7vh;
    background-color: white;
    margin: 1vh 0;
    border-radius: 10px;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: #080E2F;
    margin: 0 0 0 0;
    transition: 0.8s;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav .logo img {
    width: 25vw;
    height: 25vw;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav .list a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin: 4vh 0 0 10vw;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav .slidesocials {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 9vw;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav .slidesocials img {
    width: 8vw;
    height: 8vw;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav a:hover {
    color: #757782;
  }
  * body .container #tabletmain .home .tophome .tablet-home-nav.is-active {
    left: 0;
  }
  * body .container #tabletmain .home .bothome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .container #tabletmain .home .bothome .photo img {
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
  }
  * body .container #tabletmain .home .bothome .namehead {
    margin: 6vh 0 0 0;
  }
  * body .container #tabletmain .home .bothome .namehead #name {
    font-size: 7vw;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
  }
  * body .container #tabletmain .home .bothome .namehead #jobdescrip {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #B7BCD6;
    font-size: 4vw;
  }
  * body .container #tabletmain .home .bothome .tabletheader {
    margin: 10vh 0 0 0;
    text-align: center;
  }
  * body .container #tabletmain .home .bothome .tabletheader #tabletpara {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 3vw;
  }
  * body .container #tabletmain .home .bothome .portfoliobutton {
    border: 1px solid #36395D;
    border-radius: 30px;
    background-color: #36395D;
    padding: 2vw;
    width: 50vw;
    text-align: center;
    margin: 15vh 0 0 0;
  }
  * body .container #tabletmain .home .bothome .portfoliobutton a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 3vw;
  }
  * body .container #tabletmain .about {
    background-color: #0E4946;
    color: #FFFFFF;
    height: 100vh;
    font-family: "Inter", sans-serif;
  }
  * body .container #tabletmain .about .abouttop {
    display: flex;
    justify-content: space-between;
  }
  * body .container #tabletmain .about .abouttop .title {
    margin: 5vh 0 0 5vh;
  }
  * body .container #tabletmain .about .abouttop .title h1 {
    font-size: 8vw;
    font-family: "Inter", sans-serif;
  }
  * body .container #tabletmain .about .abouttop .header nav {
    display: none;
  }
  * body .container #tabletmain .about .abouttop .header nav a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
  }
  * body .container #tabletmain .about .abouttop .header .abouthamburger {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 5vh 7vh 0 0;
    z-index: 100;
  }
  * body .container #tabletmain .about .abouttop .header .abouthamburger:after, * body .container #tabletmain .about .abouttop .header .abouthamburger:before {
    content: "";
    display: block;
    width: 8vw;
    height: 0.7vh;
    background-color: white;
    margin: 1vh 0;
    border-radius: 10px;
    transition: 0.4s;
  }
  * body .container #tabletmain .about .abouttop .header .abouthamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 20px);
  }
  * body .container #tabletmain .about .abouttop .header .abouthamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -20px);
  }
  * body .container #tabletmain .about .abouttop .header .abouthamburger.is-active .bar {
    opacity: 0;
  }
  * body .container #tabletmain .about .abouttop .header .bar {
    content: "";
    display: block;
    width: 8vw;
    height: 0.7vh;
    background-color: white;
    margin: 1vh 0;
    border-radius: 10px;
  }
  * body .container #tabletmain .about .abouttop .header .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 20px);
  }
  * body .container #tabletmain .about .abouttop .header .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -20px);
  }
  * body .container #tabletmain .about .abouttop .header .hamburger.is-active .bar {
    opacity: 0;
  }
  * body .container #tabletmain .about .abouttop .header .bar {
    content: "";
    display: block;
    width: 8vw;
    height: 0.7vh;
    background-color: white;
    margin: 1vh 0;
    border-radius: 10px;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: #0E4946;
    margin: 0 0 0 0;
    transition: 0.8s;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav .aboutlogo {
    margin: 2vh 0 0 6vw;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav .aboutlogo img {
    width: 25vw;
    height: 25vw;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav .aboutlist a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin: 4vh 0 0 10vw;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav .slidesocials {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 5vh 0 0 9vw;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav .slidesocials img {
    width: 8vw;
    height: 8vw;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav a:hover {
    color: #757782;
  }
  * body .container #tabletmain .about .abouttop .tablet-about-nav.is-active {
    left: 0;
  }
  * body .container #tabletmain .about .infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh 0 0 0;
  }
  * body .container #tabletmain .about .infoblock .info {
    font-family: "Inter", sans-serif;
    text-align: left;
    padding: 2vh 0 0 0;
    width: 60%;
    font-size: 3vw;
    line-height: 1.5;
    margin: 5vh 0 0 0;
  }
  * body .container #tabletmain .about .infoblock .resume {
    border: 1px solid #476D6B;
    border-radius: 30px;
    width: 50vw;
    background-color: #476D6B;
    padding: 2vw;
    margin: 10vh 0 0 0;
  }
  * body .container #tabletmain .about .infoblock .resume a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #EBEBEB;
    text-align: center;
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */